// Colors
// Spacing
$small-gutter: 2rem;
$medium-gutter: 4rem;
$big-gutter: 8rem;

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #eeeeee;
$color-grey-dark: #858585;

$default-font: 1.6rem;
$default-font-color: rgb(77, 77, 77);
$default-line-height: 5rem;

$color-purple-light: #ba52ff;
$color-purple-dark-1: #a92bfd;
$color-purple-dark-2: #9900ff;

$color-green-light: #8eff9d;
$color-green-dark-1: #2fda45;
$color-green-dark-2: #16ce2f;